<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
    <style>
        .cursos{
            border-style: outset;
            border-radius: 30px;
            font-family: 'Open Sans', sans-serif;
            width: 100%;
            height: 50%;
            background-color: aqua;
            overflow: hidden;
            text-align: center;
        }
        .link{
            border-style: outset;
            border-radius: 30px;
            font-family: 'Open Sans', sans-serif;
            width: 100%;
            height: 50%;
            background-color: aqua;
            overflow: hidden;
            text-align: center;
        }
    
    </style>
</head>
<body>

    <div class="cursos">
        <p>cursos</p>
        <p><a href="http:/esportes">esportes</a></p>
        <p><a href="http:/pesquisa">pesquisa</a></p>
    </div>
    </div>
 


</body>
</html>